@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #1a237e;
  --secondary-color: #0d47a1;
  --accent-color: #ffd700;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #3949ab;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1a237e;
}